
body{
  margin: 0;
width: 100%;
background: url(img/backcase.png);
background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
a{
  text-decoration: none;
  color:white;
}
#tap{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
  display: none;
}
header{

  position: relative;
  width: 100%;
  height: 18vh;
  text-align: center;
  animation: color 30s ease-in-out infinite;
  z-index: 2;}
   header #logo{
     width: 26.5vh;
     height: 17vh;
}

@keyframes color{
0%{background:rgba(67,8,176,0.5);}
20%{background: rgba(8,28,176,0.5);}
40%{background: rgba(8,148,176,0.5);}
60%{background: rgba(176,8,110,0.5);}
80%{background: rgba(117,8,176,0.5);}
100%{background:rgba(67,8,176,0.5);}
}
nav{
  font-weight: bold;
   font-style: normal;
  z-index: 5;
  background:;
  text-align: center;
  width: 100%;
  height: 3vh;
  transition: all ease-out 0.5s;
  font-size: 0;
  animation: color 30s ease-in-out infinite;
  position: relative;
}
nav a{
  transition: 0.8s;
  height: 3vh;
  position: relative;
  padding:0 2.8vh;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  font-family: sans-serif;
  text-shadow: 1px 1px 10px black;
  border-radius:0 0 10% 10%;
  border-bottom:0.6vh solid  black;
}
nav a:hover{
  border-bottom:0.6vh solid  #B7B7B7;
  color: rgba(255,255,255, 0.9);
}
nav a.active{
  border-bottom: 0.6vh solid white;
}
.sticky {
  width: 70vh;
  position: fixed;
  top: 0;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 2px 2px 10px 0px;

}








.content{
  background-color: rgba(255,255,255,0.8);
  font-size: 4vh;
  font-family: sans-serif;
}
.content h1{
  font-size: 6vh;
}








.slider{
width: 100%;
position: relative;
padding-bottom: 6vh;
border-bottom: 3vh solid rgba(171,171,171,0.9);
}

#mark{
  position: absolute;
  transform: rotate(-40deg);
  width: 45vh;
  left: -6%;

}
#mark h1{
  text-align: center;
font-size: 6vh;
color: white;
background-color:black;
box-shadow: 0 0 0 white;
}
.belacase{
  position:  relative;
  width: 100%;
  height: 65vh;
  background: url(img/banner-1.png), url(img/banner-1x2.png), linear-gradient( rgba(0,0,0,0) -20%, rgba(176,0,0,0.5) 70%, rgba(6,130,0,0.5) ), url(img/backcase.png) ;
background-size: contain,contain,cover,cover ;
background-repeat: no-repeat;
background-position: left bottom, right bottom,center,center;
background-attachment: local,local,local,fixed;

}
.belacase h1#name{
  color: green;
  background-color: rgba(0,0,0,0.3);
  font-size:15vh;
  font-family: fantasy;
  text-align: center;
  text-shadow: 0.5vh 0.5vh 1vh white;
  margin-top: 0;
  border-radius: 0 0 50% 50%;
}
b{
  color: red;
  text-shadow: -0.5vh 0.5vh 1vh white;

}
.belacase p{
  padding:0 5vh;
  float: right;
  position:   relative;
  text-align: right;
  width: 40vw;
  background-color: rgba(255,255,255,0.7);
  border:2px solid black;
  border-radius: 0 0 0 100px;
box-shadow: -1vh -1vh 1px black;
color: black;
text-shadow: 3px 1px 1px #cccccc;
margin-top:3%;

}
.belacase p#c{
  box-shadow: 10px 10px 0px black;
  border-radius: 0 100px 0 0;
  color: black;
text-align: left;
float: left;
margin-top:4%;
}
.belacase #button{

  text-align: center;
  position: relative;
  bottom:12vh;
  width: 45vw;
height: 8vh;
  margin: auto;
  font-size:4vh;
  border-radius:0 0 150% 150% ;

}
.belacase #button h2{
      transition: 1s;
  margin:  auto;
  box-shadow: 0 0 10px white;
  border-radius: 50px;
  background: linear-gradient(32deg,rgba(0,155,209,0.7) ,rgba(129,0,213,0.7)), radial-gradient(#75003E 30%,#FF0087) ;
width: 35vw;
height: 7vh;
color: white;
}
.belacase #button h2:hover{
  background-color:#670000;
  box-shadow: 0 0 40px white;
}

.sale{

  height: 65vh;
  position:  relative;
  width: 100%;
background:linear-gradient(rgba(94,238,118,0.5),rgba(214,238,94,0.5)),radial-gradient(rgba(0,255,240,0.5) 20%,rgba(0,0,0,0) 70%),url(img/backcase.png);
background-size:cover ;
background-position:center;
background-attachment:fixed;
}

.slick-dots{
  padding-bottom: 6vh;
  bottom: 0;
  z-index: 4;
}
.slick-dots li{
  transition: 0.5s;
  border: 1px solid black;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
}
.slick-dots li button::before{
  content: '';

}

.slick-dots li.slick-active{
  background-color: white;
  border: 2px solid black;

}

.cases{
position: relative;
height: 41vh;
  display: grid;
  grid-gap: 1vh;
  padding-top: 2vh;
padding-bottom: 6vh;

}


.cases .segment a{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.cases .segment{
  position:  relative;
  z-index: 1;
  transition: 0.5s;
height: 40vh;
font-size: 4vh;

}
.cases .segment p{
  position: relative;
  margin-top: 0;
  padding-left: 6%;
  padding-right: 6%;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.4);
  font-family: fantasy;
text-shadow: 0 0 4vh #2B2B2B;
}
.cases .segment:hover{
  font-size: 5vh;
  height: 45vh;
  text-shadow: 0 0 1vh #FFCF57;
}
.cases #box1{
  background: url(img/selo.png),radial-gradient(#01FFE8  ,rgba(0,0,0,0)) ;
  background-repeat:no-repeat  ;
  background-position: center;
  background-size: contain;
grid-row: 1/6;
text-align: right;
}
.cases #box1:hover{
  background: url(img/selo-open.png),#02E8DD ;
  background-repeat:no-repeat  ;
  background-position: center;
  background-size: contain;


}
.cases #box2{
background: url(img/delo.png),radial-gradient(#91E802  ,rgba(0,0,0,0)  ) ;
background-repeat:no-repeat  ;
background-position: center;
background-size: contain;
text-align: center;
grid-row: 1/6
}
.cases #box2:hover{
  background: url(img/delo-open.png),#91E802;
  background-repeat:no-repeat  ;
  background-position: center;
  background-size: contain;

}
.cases #box3{
  background: url(img/tropic.png),radial-gradient(#9F02E8 ,rgba(0,0,0,0)  );
  background-repeat:no-repeat  ;
  background-position: center;
  background-size: contain;
text-align: left;
grid-row: 1/6
}

.cases #box3:hover{
  background: url(img/tropic-open.png),#9F02E8 ;
  background-repeat:no-repeat  ;
  background-position: center;
  background-size: contain;

}





.plus{
  width: 100%;
padding-top: 2%;
padding-bottom:4%;
  text-align: center;
  position: relative;
  z-index: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 93%,#4F4F4F), url(img/backcase.png);
  background-attachment: local, fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#info{

  margin: auto;
  width: 90%;



}
.plus .segment img{
  width: 30vh;
  height: 30vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  border-radius: 50%;
  box-shadow: 0px -1vh 10vh 2vh white;
  border: 0.5vh solid black;
  background-color: rgba(255,255,255,0.6)
}

.plus .segment p::before{
  content:'';
  position: absolute;
  margin-left: -3vh;
  margin-top: 3px;
  width: 3vh;
  height: 3vh;
  background-image: url(img/dott.png);
  background-size: cover;

}
.plus .segment p{
  height: 5vh;
padding-left: 4%;
padding-right: 4%;
background-color: #E5E5E5;
display: table-cell;
  vertical-align: bottom;
  border-top: 5px solid black;
  font-weight:bold;
}
.plus .segment{
  padding-right: 1vh;
    display: table-cell;
vertical-align: bottom
}
.plus  h1{
  color: black;
  box-shadow: 0vh 1vh 0 0.5vh white;
  background-color: rgba(255,255,255,0.5);
}








footer{
  background-color: #4F4F4F;
height: 50vh;
}
 .contacts {
   margin-top: 7vh;
   font-size: 0;
display: inline-block;
width: 100%;
text-align: center;
margin-bottom: 5vh;
}
.contacts a{
  transition: 1s;
  opacity: 0.5;
  margin-left:5vh;
  margin-right:5vh;
}
.contacts a:hover{
  opacity: 1;
}
#web img{
height: 4vh;
width: 4vh;
}
#sites img{
  margin-top: -6vh;
  margin-left:3vh;
  margin-right:3vh;
height:21vh;
width: 21vh;
}
footer .cop{
  font-family: sans-serif;
  margin: auto;
width: 90%;
  border-top: 0.1vh solid black;
  color: rgba(255,255,255,0.5);
  font-size: 3vh;
  text-align: center;
}
